Library/
Temp/
Logs/
obj/
*.csproj
*.sln
.vs/
Assets/ShaderForge/
Assets/StreamingAssets/android/
Assets/StreamingAssets/ios/
Assets/StreamingAssets/web/
Assets/StreamingAssets/android.meta
Assets/StreamingAssets/ios.meta
Assets/StreamingAssets/web.meta
RemoteHotData/
OutPackage/
UploadData/
.svn/
/Packages/Android/
/Packages/IOS/
Assets/Scripts/BattleVS/result.json
Assets/Scripts/BattleVS/result.json.meta
Assets/Editor/PbMsgEditor/PbMsgPath_svn.txt
Assets/Editor/PbMsgEditor/PbMsgPath_svn.txt.meta
/.vsconfig
/Assets/ProjectRes/Language/languageconfig.txt
/Assets/ProjectRes/Language/languageconfig.txt.meta
Assets/Resources/Texture/splash.meta
Assets/Resources/Texture/splash/Bg_logo_game.jpg.meta
Assets/Resources/Texture/splash/Bg_logo_game.jpg
/Assets/Resources/GameCtrl/SpineRoot/spine_chr_10057_loading.prefab.meta
/Assets/Resources/GameCtrl/SpineRoot/spine_chr_10057_loading.prefab
/ossutil/ossutil_output
/ossutil/.ossutil_checkpoint
/ossutil/myconfig
/ossutil/myconfig.bak
/ttutil/myconfig
/Assets/Editor/Upload/ossconfig.json
/Assets/Editor/Upload/ossconfig.json.meta
UwaScan
TempUnity
IosUnityExport
/Assets/StreamingAssets/windows
/Assets/StreamingAssets/windows.meta
/Assets/Resources/UIAltas/atlas_logo
Assets/ProjectRes/IFix.meta
Assets/ProjectRes/IFix/Assembly-CSharp.patch.bytes.meta
/ProjectSettings/ProjectVersion.txt
/Assets/Editor/AssetBundle/TableManifest.json
/Assets/Editor/AssetBundle/TableManifest.json.meta
ttutil/myconfig
Assets/Resources/UIAltas/atlas_logo.meta
Tables
Languages
Assets/Editor/ModelTools/ClearUVClr.exe.meta
message/cs
message/proto
IOSDiff
/Packages/com.unity.memoryprofiler@0.4.2-preview.1
/Assets/Resources/Texture/logo.png
/Assets/Resources/Texture/logo.png.meta
/Assets/Resources/Texture/splashImage.jpg
/Assets/Resources/Texture/splashImage.jpg.meta
/Assets/Resources/Texture/bg_login.jpg
/Assets/Resources/Texture/bg_login.jpg.meta
link.xml
link.xml.meta
/Assets/ProjectRes/DLL/Unity.Hotfixdll.bytes
/Assets/ProjectRes/DLL/Unity.Hotfixdll.bytes.meta
/Assets/ProjectRes/DLL/Unity.Hotfixpdb.bytes
/Assets/ProjectRes/DLL/Unity.Hotfixpdb.bytes.meta
/Assets/Scripts/DevelopTools/God'sHands/GMConfig.json
/Assets/Scripts/DevelopTools/God'sHands/GMConfig.json.meta
*.idea/
示意图
/Assets/StreamingAssets/version.txt
/Assets/StreamingAssets/version.txt.meta

CustomCloudAssets*
WeChat*

Assets/AutoStreamingData/Placeholders*